*{
    margin: 0;
    padding: 0;
    font-family: 'volkhov','Poppins', 'sans-serif'; 
    box-sizing: border-box;
}
.body{
   display:flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: white;
   color: black;
   width:100%;
}
/*navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 60px;
    background-color:#FEFCFB;
    color:black;
    width:100%;
    

   
}

.logo {
    display: flex;
    align-items: center;
    font-size: bold 24px;
  }
  .logo h2 {

    font-family:'volkhov';
    font-weight: 700;
    
}

.logo img{
    margin-left:10px;


}
.navbar .nav-links ul{
    list-style-type:none;
    display:flex;
    font-family:'poppins';
    align-items: center;
    gap:15px;
    
 
    
}

.navbar .nav-links ul li a{
  text-decoration:none;
   color:black;
    font-size: 16px;
    font-family: 'poppins';
    

}
.navbar .nav-links ul li a.login {
    color: orange;
    padding:0px 0px 0px 70px;
   
}
.navbar .nav-links ul li button{
    background-color:#FA7436;
    border:none;
    color:white;
    cursor: pointer;
    width:160px;
    height:50px;
    border-radius: 5px;
    opacity:100%;

}

/*Header section*/

.home{
    background-color: #FEFCFB;
    width:100%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding:50px;
    position:relative;
}
.header-content{
    display:flex;
    flex:1;
    flex-direction: column; 


}

.header-para{
    
    text-align: left;
    font-family: 'volkhov';
    font-size: 64px;
    padding: 20px;

}
.orange-text {
    color: #FA7436;
}
.header-para1{
    padding:20px;
    font-family:'poppins';
    opacity: 100%;
    padding-bottom: 50px ;
  
    }

 .header-content   button{
        width: 150px;
        height:60px;
        background-color: #FFFFFF;
        border-radius: 5px;
        border-color:#FAAF36;
        color:#FA7436;  
        opacity:100%;
        cursor:pointer;
        font-family:'poppins'; 
        
    }
    .header-content   button:hover{
        
        background-color:#FA7436;  
        color: black ;
    }
    .img-1{
        flex:1;
        display: flex;
        justify-content: flex-end;
    }
    .img-1
{
        position: relative;
        width:100%;
        height:600px;
           
}
.layer{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:none;
    outline:none;
}
.layer1{
   
    width:100%;
    height:60x;
    border:none;
    outline:none;

   
    
}
.layer2{
    z-index:2;   
    width:60%;
    height:60%;
    margin-top:50%;
    padding-bottom: 140px;
    margin-left:10px;
    
}
.layer3{
    z-index:3;   
    width:60%;
    margin-left: 30px;;
    padding-bottom: 140px;
    
}
.layer4{
    z-index:4;   
    width:20%;
    height:50px;
    opacity:100px;
    padding:10 ;
    background-color: white ;
    border-radius: 15px;

    
}
.layer5{
    z-index:5;   
    width:40%;
    height:100px;
    opacity:100px;
   margin-left:360px;
   margin-top: 160px;
     


    
}
.layer6{
    z-index:6;
    width:40%;
    height:100px;
    opacity:100px;

    margin-top: 250px;

    
}

.search-bar{
        width:841px;
        height:124px;
        background-color: white;
        display: flex;  
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-family: 'poppins';
      
}


.search-item {
  flex: 1;
  display: flex;
  flex-direction: column;
   font-family: 'poppins';
  
}


.search-item label {
  font-weight: bold;
  font-size: 14px;
  color: black;
 font-family: 'poppins';
  margin-left: 40px;
  

}

.search-item input {
  border: none;
  outline: none;
  font-size: 14px;
  color: #777;
  padding:7px;
  margin-left: 30px;
 font-family: 'poppins';
  }
   

.explore-btn {
  background-color:#FA7436;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width:165px;
  height:60px;
  font-family: 'poppins';

}
.explore-btn:hover {
  background-color: #fe5101;
  color:rgb(83, 68, 68);
}


/*Things-you-need*/

.Things-you-need{
    background-color: #F7F8FC;
    width:100%;
    text-align: center;
    padding:30px;

}
.Things-you-need .content{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
      gap:20px;
      padding:27px ;
}
.Things-you-need  .content-card{
    width:300px;
    padding:80px;
    background-color:#ffffff ;
    padding:40px ;
    border-radius: 5px;

}
.Things-you-need h2{
    font-family: 'volkhov';
    text-align: center;
    padding:80px 0px 0px  0px;


}
.Things-you-need p{
    padding:6px;
    text-align: center;
    font-family: 'poppins';
    color: #666666;  
}

.Things-you-need  .content-card img{
     margin-bottom: 15px;    

}
.Things-you-need .content-card h4{
    text-align: left;
}
.Things-you-need .content-card  p{
    text-align: left;
}


/*Exclusive Deals*/


.exclusive-deals{
    padding:40px;
    background-color:#FEFCFB ;
    text-align: center;   
    flex-wrap:wrap;
    width:100%;
    font-family:'volkhov';
}

.exclusive-deals .exclusive-header h2{
    font-family: 'volkhov';
    text-align: center;
}
.exclusive-deals .exclusive-header p{
    font-family: 'poppins';
    text-align: center;
    padding-bottom: 30px;
    color:#666666;
}
.exclusive-container{
    display: flex;
    justify-content: center;
    gap:30px;
    align-items: flex-start ;   
    padding:10px 20px;
    background-color:#FFFFFF;
    border-radius: 9px;
    
}
.exclusive-container h4{
    text-align: left;
    font-family: 'poppins';
    padding:0px 5px;
    font-weight: 500;
    color:black;  
     
}

.exclusive-container .img{
    text-align: left;
    font-family: 'poppins';
    padding:0px 5px;
    font-weight: 500;
    
}
.project-card,
.project-card1
{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 10px;
    padding:5px;
     color:#666666;
}
.project-card1 button{
    font-size: 14px;
    background-color: #FFE7DB;
    color:orange;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 30px; 
    width:60px;  
}
.project-card1 .cancel-amnt{
    padding-left: 70px;
}

/*Vacation plan*/

.vacation {
  text-align: center;
  padding: 60px 20px;
}
 
.vacation h3 {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: volkhov;
}

.vacation h3 span {
  color: #ff6b2d;
}
 
.vacation p {
  color: #666666;
  margin-bottom: 40px;
  font-family: 'poppins';
  padding:10px;
  font-size: 14px;
}


.cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'poppins';
  font-weight: 100px;
}

.card {
  width: 280px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  overflow: hidden;
  text-align: left;

 
}

.card img {
  width: 100%;
  height: 180px;
 

}

.card-place {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-weight: bold;
  
}

.price {
  color: #ff6b2d;
  font-size: 13px;
  
}

.meta {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px;
  color: #666;
  font-size: 14px;
  font-family: 'poppins';
}


/* About Us  */

.about-us{
    background-color: #F7F8FC;
    width:100%;
    display:flex;
    justify-content: space-between;
    flex:wrap;
    padding: 70px ;
  
}
.about-us .content h2{
        font-size: 25px;
         text-align: left;
        font-family: 'volkhov';
        margin-bottom: 16px;  
}
.about-us.content p{
    margin-top: 0;
}

.about-us .content .about-clients{

    color: #666666;
    font-family: 'poppins';
      font-size: 10px; 
      text-align: left;
 }
.posts{
    position: relative;
    padding:10px 40px 50px ;
    border-radius: 10px;
    
}
.post1{
    position: absolute;
    background: white;
    padding:15px;    
        position:relative;
    z-index:1;
    border-radius: 10px;


}
.post2{
    position: absolute;
    background: rgb(231, 227, 227);
    padding:15px;    
    opacity:0.3;
    z-index:2;
    left:20px;
    width:100%;
    border-radius: 10px;
   
}
 



/* latest-blog*/
.latest-blog {
    background-color: #FEFCFB;
    font-family: 'Volkhov', serif;
    padding: 40px;
    text-align: center;
}

.latest-blog .title  {
    text-align: center;
    font-size: 25px;
   margin-bottom: 40px;
   width:100%;
   padding: 30px;
}

.latest-blog .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    
}

.latest-blog .content .content1 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #FEFCFB;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 250px;   

}

.latest-blog .content .content1 img {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    
}

.latest-blog .content .content1 p {
    margin: 5px 0;
    color: #222222;
    font-family: 'poppins';
    font-size: 15px;
    font-weight: 200px;
    align-items: left;
    text-align: left;
}
.latest-blog .content .content1  .date {
     text-align: left;
     color: #999999;
     font-size: 10px;

 }

 /*Contact */


.contact-us{
    background-color: #FA7436;
    height:300px;
    width:800px;
    padding:30px;
    margin-left:200px;
    margin-bottom: 70px;
    border-radius: 10px;
    
    
}
.contact-us h2{
    font-family: 'volkhov';
    text-align: center;
    padding:40px;
    color: white;
}
 .contact-card form{
 text-align: center;

 }

 .contact-card form input{ 
    padding:10px;
    background-color: white;
    list-style: none;

      
    
 }
  .contact-card form button{ 
    padding:10px;
    background-color: white;
    list-style: none;    
    cursor:pointer
 }


 /*contact detail*/
.contact-detail{
    background-color: #F7F8FC;
    padding: 50px;
   
    
}
.contact-details{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.contact-info h4{
    
    text-align: left;
    font-family: "volkhov";
    margin-left: 200px;
    font-size: 20px;
    
}
.contact-info h4 img{
    padding-left:10px;
}
.contact-details p{
    text-align: left;
    font-family: "poppins";
    margin-left: 200px;
    padding-top:20px;
    font-size: 15px;
    color: #666666;
}
 .contact-img  {
    text-align: left;
    margin-left: 200px; 
    padding-top: 40px;
      
}

.contact-links{
    display: flex;
    gap:43px;
    font-size: 15px;   
}
.link-column{
    list-style: none;
}
.link-column .title{
    font-size:15px;
    color:black
}
.link-column li{
    margin-bottom: 12px;
    font-family: "poppins";
    font-style: bold;
}
.link-column a{
    text-decoration: none;
    color:#6666 ;
    font-family: "poppins";
}
.link-column a:hover{
    color:blue;
}
