*{
    margin: 0;
    padding: 0;
    font-family: 'volkhov','Poppins', 'sans-serif'; 
    box-sizing: border-box;
}
.body{
   display:flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: white;
   color: black;
   width:100%;
}
/*navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 60px;
    background-color:#FEFCFB;
    color:black;
    width:100%;
    

   
}

.logo {
    display: flex;
    align-items: center;
    font-size: bold 24px;
  }
  .logo h2 {

    font-family:'volkhov';
    font-weight: 700;
    
}

.logo img{
    margin-left:10px;


}
.navbar .nav-links ul{
    list-style-type:none;
    display:flex;
    font-family:'poppins';
    align-items: center;
    gap:15px;
    
 
    
}

.navbar .nav-links ul li a{
  text-decoration:none;
   color:black;
    font-size: 16px;
    font-family: 'poppins';
    

}
.navbar .nav-links ul li a.login {
    color: orange;
    padding:0px 0px 0px 70px;
   
}
.navbar .nav-links ul li button{
    background-color:#FA7436;
    border:none;
    color:white;
    cursor: pointer;
    width:160px;
    height:50px;
    border-radius: 5px;
    opacity:100%;

}

/*Header section*/

.home{
    background-color: #FEFCFB;
    width:100%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding:50px;
}
.header-content{
    display:flex;
    flex:1;
    flex-direction: column; 


}

.header-para{
    display:flex;
    text-align: left;
    font-family: 'volkhov';
    font-size: 64px;
    padding: 20px;

}
.header-para1{
    padding:20px;
    font-family:'poppins';
    opacity: 100%;
    padding-bottom: 50px ;
  
    }

 .header-content   button{
        width: 150px;
        height:60px;
        background-color: #FFFFFF;
        border-radius: 5px;
        border-color:#FA7436;
        opacity:100%;
        cursor:pointer;
        font-family:'poppins';
        
        
    }
    .img-1{
        flex:1;
        display: flex;
        justify-content: flex-end;
    }

        .search-bar{
        width:841px;
        height:124px;
        background-color: #ffffff;
        display: flex;  
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-family: 'poppins';
        margin:60px;
          
       }


.search-item {
  flex: 1;
  display: flex;
  flex-direction: column;
   font-family: 'poppins';

}


.search-item label {
  font-weight: bold;
  font-size: 14px;
  color: black;
 font-family: 'poppins';

}

.search-item input {
  border: none;
  outline: none;
  font-size: 14px;
  color: #777;
  padding:7px;
  }
   

.explore-btn {
  background-color:#FA7436;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width:165px;
  height:60px;
  
}
.explore-btn:hover {
  background-color: orange;
}


/*Things-you-need*/

.Things-you-need{
    background-color: #F7F8FC;
    width:100%;
    text-align: center;
    padding:30px;

}
.Things-you-need .content{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
      gap:20px;
      padding:27px ;
}
.Things-you-need  .content-card{
    width:300px;
    padding:80px;
    background-color:#ffffff ;
    padding:40px ;
    border-radius: 5px;

}
.Things-you-need h2{
    font-family: 'volkhov';
    text-align: center;
    padding:80px 0px 0px  0px;


}
.Things-you-need p{
    padding:6px;
    text-align: center;
    font-family: 'poppins';
    color: #666666;  
}

.Things-you-need  .content-card img{
     margin-bottom: 15px;    

}
.Things-you-need .content-card h4{
    text-align: left;
}
.Things-you-need .content-card  p{
    text-align: left;
}


/*Exclusive Deals*/


.exclusive-deals{
    padding:40px;
    background-color:#FEFCFB ;
    text-align: center;   
    flex-wrap:wrap;
    width:100%;
    font-family:'volkhov';
}

.exclusive-deals .exclusive-header h2{
    font-family: 'volkhov';
    text-align: center;
}
.exclusive-deals .exclusive-header p{
    font-family: 'poppins';
    text-align: center;
    padding-bottom: 30px;
    color:#666666;
}
.exclusive-container{
    display: flex;
    justify-content: center;
    gap:30px;
    align-items: flex-start ;   
    padding:10px 20px;
    background-color:#FFFFFF;
    border-radius: 9px;
    
}
.exclusive-container h4{
    text-align: left;
    font-family: 'poppins';
    padding:0px 5px;
    font-weight: 500;
    color:black;  
     
}

.exclusive-container .img{
    text-align: left;
    font-family: 'poppins';
    padding:0px 5px;
    font-weight: 500;
    
}
.project-card,
.project-card1
{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 10px;
    padding:5px;
     color:#666666;
}
.project-card1 button{
    font-size: 14px;
    background-color: #FFE7DB;
    color:orange;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 30px; 
    width:60px;  
}
.project-card1 .cancel-amnt{
    padding-left: 70px;
}

/*Vacation plan*/

.vacation {
  text-align: center;
  padding: 60px 20px;
}
 
.vacation h3 {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: volkhov;
}

.vacation h3 span {
  color: #ff6b2d;
}
 
.vacation p {
  color: #666666;
  margin-bottom: 40px;
  font-family: 'poppins';
  padding:10px;
  font-size: 14px;
}


.cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'poppins';
  font-weight: 100px;
}

.card {
  width: 280px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  overflow: hidden;
  text-align: left;

 
}

.card img {
  width: 100%;
  height: 180px;
 

}

.card-place {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-weight: bold;
  
}

.price {
  color: #ff6b2d;
  font-size: 13px;
  
}

.meta {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px;
  color: #666;
  font-size: 14px;
  font-family: 'poppins';
}


/* About Us  */

.about-us{
    background-color: #F7F8FC;
    width:100%;
    display:flex;
    justify-content: space-between;
    flex:wrap;
    padding: 70px ;
  
}
.about-us .content h2{
        font-size: 25px;
         text-align: left;
        font-family: 'volkhov';
        margin-bottom: 16px;  
}
.about-us.content p{
    margin-top: 0;
}

.about-us .content .about-clients{

    color: #666666;
    font-family: 'poppins';
      font-size: 10px; 
      text-align: left;
 }

.posts{
    position: relative;
    background: white;
    padding:15px;
  

    
 }
.about-us .content .post1 {
    background: white;
    border-radius:10px ;
    padding:20px;
    box-shadow:10px;
    border-radius: 10px;
    opacity: 100%;
    position: relative;
    z-index: 2;
   
    
    
}
.about-us .content .post2{
    background: white;
    border-radius:10px ;
    width:100%;
    padding:20px;
    box-shadow:10px;
    border-radius: 10px; 
    text-align:left; 
    padding-top: 200px;
    z-index: 1;
    
   
}

.about-us .content.posts .post2{
    position: absolute;
    width:80%;
    opacity:3;  
    top:40px;
    left:40px;
    padding-left: 30px;


}


/* latest-blog*/
.latest-blog {
    background-color: #FEFCFB;
    font-family: 'Volkhov', serif;
    padding: 40px;
    text-align: center;
}

.latest-blog .title  {
    text-align: center;
    font-size: 25px;
   margin-bottom: 40px;
   width:100%;
   padding: 30px;
}

.latest-blog .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    
}

.latest-blog .content .content1 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #FEFCFB;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 250px;   

}

.latest-blog .content .content1 img {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    
}

.latest-blog .content .content1 p {
    margin: 5px 0;
    color: #222222;
    font-family: 'poppins';
    font-size: 15px;
    font-weight: 200px;
    align-items: left;
    text-align: left;
}
.latest-blog .content .content1  .date {
     text-align: left;
     color: #999999;
     font-size: 10px;

 }

 /*Responsive*/
 
